body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1633px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1935_div {
  position:absolute;
  left:0px;
  top:0px;
  width:306px;
  height:589px;
  background:inherit;
  background-color:rgba(97, 97, 97, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#F2F2F2;
}
#u1935 {
  position:absolute;
  left:59px;
  top:121px;
  width:306px;
  height:589px;
  color:#F2F2F2;
}
#u1936 {
  position:absolute;
  left:2px;
  top:286px;
  width:302px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1937 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1938 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1939_div {
  position:absolute;
  left:0px;
  top:0px;
  width:306px;
  height:24px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1939 {
  position:absolute;
  left:59px;
  top:121px;
  width:306px;
  height:24px;
}
#u1940 {
  position:absolute;
  left:2px;
  top:4px;
  width:302px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1941 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1942_img {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:5px;
}
#u1942 {
  position:absolute;
  left:65px;
  top:130px;
  width:5px;
  height:5px;
}
#u1943 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1944_img {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:5px;
}
#u1944 {
  position:absolute;
  left:73px;
  top:130px;
  width:5px;
  height:5px;
}
#u1945 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1946_img {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:5px;
}
#u1946 {
  position:absolute;
  left:81px;
  top:130px;
  width:5px;
  height:5px;
}
#u1947 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1948_img {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:5px;
}
#u1948 {
  position:absolute;
  left:89px;
  top:130px;
  width:5px;
  height:5px;
}
#u1949 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1950_img {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:5px;
}
#u1950 {
  position:absolute;
  left:97px;
  top:130px;
  width:5px;
  height:5px;
}
#u1951 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1952 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1953_div {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:10px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(102, 102, 102, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1953 {
  position:absolute;
  left:334px;
  top:128px;
  width:22px;
  height:10px;
}
#u1954 {
  position:absolute;
  left:2px;
  top:-3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1955_div {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:4px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(102, 102, 102, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1955 {
  position:absolute;
  left:338px;
  top:131px;
  width:14px;
  height:4px;
}
#u1956 {
  position:absolute;
  left:2px;
  top:-6px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1957_div {
  position:absolute;
  left:0px;
  top:0px;
  width:3px;
  height:4px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(102, 102, 102, 1);
  border-left:0px;
  border-radius:2px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1957 {
  position:absolute;
  left:356px;
  top:131px;
  width:3px;
  height:4px;
}
#u1958 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1959_div {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u1959 {
  position:absolute;
  left:108px;
  top:125px;
  width:51px;
  height:16px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u1960 {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  word-wrap:break-word;
}
#u1961_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Hel Regular', 'Hel';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u1961 {
  position:absolute;
  left:188px;
  top:125px;
  width:65px;
  height:14px;
  font-family:'Hel Regular', 'Hel';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u1962 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  word-wrap:break-word;
}
#u1963_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u1963 {
  position:absolute;
  left:296px;
  top:125px;
  width:65px;
  height:16px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u1964 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  word-wrap:break-word;
}
#u1965_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:39px;
}
#u1965 {
  position:absolute;
  left:73px;
  top:640px;
  width:29px;
  height:29px;
}
#u1966 {
  position:absolute;
  left:2px;
  top:6px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1967_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u1967 {
  position:absolute;
  left:73px;
  top:679px;
  width:29px;
  height:17px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u1968 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u1969_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:33px;
}
#u1969 {
  position:absolute;
  left:322px;
  top:638px;
  width:20px;
  height:33px;
}
#u1970 {
  position:absolute;
  left:2px;
  top:8px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1971_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1971 {
  position:absolute;
  left:318px;
  top:681px;
  width:29px;
  height:17px;
  color:#FFFFFF;
}
#u1972 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u1973_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:39px;
}
#u1973 {
  position:absolute;
  left:198px;
  top:635px;
  width:28px;
  height:39px;
}
#u1974 {
  position:absolute;
  left:2px;
  top:12px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1975_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1975 {
  position:absolute;
  left:198px;
  top:679px;
  width:29px;
  height:17px;
  color:#FFFFFF;
}
#u1976 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u1977_img {
  position:absolute;
  left:0px;
  top:0px;
  width:294px;
  height:266px;
}
#u1977 {
  position:absolute;
  left:65px;
  top:161px;
  width:294px;
  height:266px;
}
#u1978 {
  position:absolute;
  left:2px;
  top:125px;
  width:290px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1979_img {
  position:absolute;
  left:0px;
  top:0px;
  width:295px;
  height:2px;
}
#u1979 {
  position:absolute;
  left:65px;
  top:437px;
  width:294px;
  height:1px;
}
#u1980 {
  position:absolute;
  left:2px;
  top:-8px;
  width:290px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1981_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:32px;
}
#u1981 {
  position:absolute;
  left:187px;
  top:437px;
  width:50px;
  height:32px;
  color:#CCCCCC;
}
#u1982 {
  position:absolute;
  left:2px;
  top:8px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1983_img {
  position:absolute;
  left:0px;
  top:0px;
  width:307px;
  height:2px;
}
#u1983 {
  position:absolute;
  left:59px;
  top:624px;
  width:306px;
  height:1px;
}
#u1984 {
  position:absolute;
  left:2px;
  top:-8px;
  width:302px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1985_div {
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#CCCCCC;
}
#u1985 {
  position:absolute;
  left:92px;
  top:543px;
  width:241px;
  height:29px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#CCCCCC;
}
#u1986 {
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  white-space:nowrap;
}
#u1987_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:32px;
}
#u1987 {
  position:absolute;
  left:187px;
  top:460px;
  width:50px;
  height:32px;
  color:#666666;
}
#u1988 {
  position:absolute;
  left:2px;
  top:8px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1989_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:32px;
}
#u1989 {
  position:absolute;
  left:187px;
  top:485px;
  width:50px;
  height:32px;
}
#u1990 {
  position:absolute;
  left:2px;
  top:8px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1991_div {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1991 {
  position:absolute;
  left:65px;
  top:50px;
  width:161px;
  height:37px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1992 {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  white-space:nowrap;
}
#u1993 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1994_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:69px;
}
#u1994 {
  position:absolute;
  left:518px;
  top:386px;
  width:30px;
  height:69px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u1995 {
  position:absolute;
  left:2px;
  top:26px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1996_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:85px;
}
#u1996 {
  position:absolute;
  left:494px;
  top:455px;
  width:106px;
  height:85px;
}
#u1997 {
  position:absolute;
  left:2px;
  top:34px;
  width:102px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1998_div {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u1998 {
  position:absolute;
  left:482px;
  top:550px;
  width:143px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u1999 {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  word-wrap:break-word;
}
#u2000_img {
  position:absolute;
  left:-2px;
  top:-10px;
  width:321px;
  height:25px;
}
#u2000 {
  position:absolute;
  left:373px;
  top:350px;
  width:309px;
  height:5px;
}
#u2001 {
  position:absolute;
  left:2px;
  top:-6px;
  width:305px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2002_div {
  position:absolute;
  left:0px;
  top:0px;
  width:306px;
  height:589px;
  background:inherit;
  background-color:rgba(97, 97, 97, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#F2F2F2;
}
#u2002 {
  position:absolute;
  left:692px;
  top:121px;
  width:306px;
  height:589px;
  color:#F2F2F2;
}
#u2003 {
  position:absolute;
  left:2px;
  top:286px;
  width:302px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2004 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2005 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2006_div {
  position:absolute;
  left:0px;
  top:0px;
  width:306px;
  height:24px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2006 {
  position:absolute;
  left:692px;
  top:121px;
  width:306px;
  height:24px;
}
#u2007 {
  position:absolute;
  left:2px;
  top:4px;
  width:302px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2008 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2009_img {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:5px;
}
#u2009 {
  position:absolute;
  left:698px;
  top:130px;
  width:5px;
  height:5px;
}
#u2010 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2011_img {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:5px;
}
#u2011 {
  position:absolute;
  left:706px;
  top:130px;
  width:5px;
  height:5px;
}
#u2012 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2013_img {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:5px;
}
#u2013 {
  position:absolute;
  left:714px;
  top:130px;
  width:5px;
  height:5px;
}
#u2014 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2015_img {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:5px;
}
#u2015 {
  position:absolute;
  left:722px;
  top:130px;
  width:5px;
  height:5px;
}
#u2016 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2017_img {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:5px;
}
#u2017 {
  position:absolute;
  left:730px;
  top:130px;
  width:5px;
  height:5px;
}
#u2018 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2019 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2020_div {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:10px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(102, 102, 102, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2020 {
  position:absolute;
  left:967px;
  top:128px;
  width:22px;
  height:10px;
}
#u2021 {
  position:absolute;
  left:2px;
  top:-3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2022_div {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:4px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(102, 102, 102, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2022 {
  position:absolute;
  left:971px;
  top:131px;
  width:14px;
  height:4px;
}
#u2023 {
  position:absolute;
  left:2px;
  top:-6px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2024_div {
  position:absolute;
  left:0px;
  top:0px;
  width:3px;
  height:4px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(102, 102, 102, 1);
  border-left:0px;
  border-radius:2px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2024 {
  position:absolute;
  left:989px;
  top:131px;
  width:3px;
  height:4px;
}
#u2025 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2026_div {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u2026 {
  position:absolute;
  left:741px;
  top:125px;
  width:51px;
  height:16px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u2027 {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  word-wrap:break-word;
}
#u2028_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Hel Regular', 'Hel';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u2028 {
  position:absolute;
  left:821px;
  top:125px;
  width:65px;
  height:14px;
  font-family:'Hel Regular', 'Hel';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u2029 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  word-wrap:break-word;
}
#u2030_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u2030 {
  position:absolute;
  left:929px;
  top:125px;
  width:65px;
  height:16px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u2031 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  word-wrap:break-word;
}
#u2032_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:39px;
}
#u2032 {
  position:absolute;
  left:706px;
  top:640px;
  width:29px;
  height:29px;
}
#u2033 {
  position:absolute;
  left:2px;
  top:6px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2034_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u2034 {
  position:absolute;
  left:706px;
  top:679px;
  width:29px;
  height:17px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u2035 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u2036_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:33px;
}
#u2036 {
  position:absolute;
  left:955px;
  top:638px;
  width:20px;
  height:33px;
}
#u2037 {
  position:absolute;
  left:2px;
  top:8px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2038_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u2038 {
  position:absolute;
  left:951px;
  top:681px;
  width:29px;
  height:17px;
  color:#FFFFFF;
}
#u2039 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u2040_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:39px;
}
#u2040 {
  position:absolute;
  left:831px;
  top:635px;
  width:28px;
  height:39px;
}
#u2041 {
  position:absolute;
  left:2px;
  top:12px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2042_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u2042 {
  position:absolute;
  left:831px;
  top:679px;
  width:29px;
  height:17px;
  color:#FFFFFF;
}
#u2043 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u2044_img {
  position:absolute;
  left:0px;
  top:0px;
  width:294px;
  height:266px;
}
#u2044 {
  position:absolute;
  left:698px;
  top:161px;
  width:294px;
  height:266px;
}
#u2045 {
  position:absolute;
  left:2px;
  top:125px;
  width:290px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2046_img {
  position:absolute;
  left:0px;
  top:0px;
  width:295px;
  height:2px;
}
#u2046 {
  position:absolute;
  left:698px;
  top:437px;
  width:294px;
  height:1px;
}
#u2047 {
  position:absolute;
  left:2px;
  top:-8px;
  width:290px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2048_img {
  position:absolute;
  left:0px;
  top:0px;
  width:307px;
  height:2px;
}
#u2048 {
  position:absolute;
  left:692px;
  top:624px;
  width:306px;
  height:1px;
}
#u2049 {
  position:absolute;
  left:2px;
  top:-8px;
  width:302px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2050_div {
  position:absolute;
  left:0px;
  top:0px;
  width:234px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#CCCCCC;
}
#u2050 {
  position:absolute;
  left:728px;
  top:516px;
  width:234px;
  height:29px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#CCCCCC;
}
#u2051 {
  position:absolute;
  left:0px;
  top:0px;
  width:234px;
  white-space:nowrap;
}
#u2052 {
  position:absolute;
  left:775px;
  top:570px;
  width:140px;
  height:25px;
}
#u2052_input {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u2053 {
  position:absolute;
  left:142px;
  top:589px;
  width:140px;
  height:25px;
}
#u2053_input {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u2054_div {
  position:absolute;
  left:0px;
  top:0px;
  width:236px;
  height:49px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:4px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2054 {
  position:absolute;
  left:97px;
  top:572px;
  width:236px;
  height:49px;
}
#u2055 {
  position:absolute;
  left:2px;
  top:16px;
  width:232px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2056_div {
  position:absolute;
  left:0px;
  top:0px;
  width:236px;
  height:49px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:4px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2056 {
  position:absolute;
  left:714px;
  top:558px;
  width:236px;
  height:49px;
}
#u2057 {
  position:absolute;
  left:2px;
  top:16px;
  width:232px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2058_img {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:109px;
}
#u2058 {
  position:absolute;
  left:1057px;
  top:331px;
  width:122px;
  height:109px;
}
#u2059 {
  position:absolute;
  left:2px;
  top:46px;
  width:118px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2060_div {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u2060 {
  position:absolute;
  left:1071px;
  top:440px;
  width:125px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u2061 {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  word-wrap:break-word;
}
#u2062_img {
  position:absolute;
  left:-2px;
  top:-10px;
  width:321px;
  height:25px;
}
#u2062 {
  position:absolute;
  left:1008px;
  top:350px;
  width:309px;
  height:5px;
}
#u2063 {
  position:absolute;
  left:2px;
  top:-6px;
  width:305px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2064_div {
  position:absolute;
  left:0px;
  top:0px;
  width:306px;
  height:589px;
  background:inherit;
  background-color:rgba(97, 97, 97, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#F2F2F2;
}
#u2064 {
  position:absolute;
  left:1327px;
  top:121px;
  width:306px;
  height:589px;
  color:#F2F2F2;
}
#u2065 {
  position:absolute;
  left:2px;
  top:286px;
  width:302px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2066 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2067 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2068_div {
  position:absolute;
  left:0px;
  top:0px;
  width:306px;
  height:24px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2068 {
  position:absolute;
  left:1327px;
  top:121px;
  width:306px;
  height:24px;
}
#u2069 {
  position:absolute;
  left:2px;
  top:4px;
  width:302px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2070 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2071_img {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:5px;
}
#u2071 {
  position:absolute;
  left:1333px;
  top:130px;
  width:5px;
  height:5px;
}
#u2072 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2073_img {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:5px;
}
#u2073 {
  position:absolute;
  left:1341px;
  top:130px;
  width:5px;
  height:5px;
}
#u2074 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2075_img {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:5px;
}
#u2075 {
  position:absolute;
  left:1349px;
  top:130px;
  width:5px;
  height:5px;
}
#u2076 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2077_img {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:5px;
}
#u2077 {
  position:absolute;
  left:1357px;
  top:130px;
  width:5px;
  height:5px;
}
#u2078 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2079_img {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:5px;
}
#u2079 {
  position:absolute;
  left:1365px;
  top:130px;
  width:5px;
  height:5px;
}
#u2080 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2081 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2082_div {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:10px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(102, 102, 102, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2082 {
  position:absolute;
  left:1602px;
  top:128px;
  width:22px;
  height:10px;
}
#u2083 {
  position:absolute;
  left:2px;
  top:-3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2084_div {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:4px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(102, 102, 102, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2084 {
  position:absolute;
  left:1606px;
  top:131px;
  width:14px;
  height:4px;
}
#u2085 {
  position:absolute;
  left:2px;
  top:-6px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2086_div {
  position:absolute;
  left:0px;
  top:0px;
  width:3px;
  height:4px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(102, 102, 102, 1);
  border-left:0px;
  border-radius:2px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2086 {
  position:absolute;
  left:1624px;
  top:131px;
  width:3px;
  height:4px;
}
#u2087 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2088_div {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u2088 {
  position:absolute;
  left:1376px;
  top:125px;
  width:51px;
  height:16px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u2089 {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  word-wrap:break-word;
}
#u2090_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Hel Regular', 'Hel';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u2090 {
  position:absolute;
  left:1456px;
  top:125px;
  width:65px;
  height:14px;
  font-family:'Hel Regular', 'Hel';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u2091 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  word-wrap:break-word;
}
#u2092_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u2092 {
  position:absolute;
  left:1564px;
  top:125px;
  width:65px;
  height:16px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u2093 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  word-wrap:break-word;
}
#u2094_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:39px;
}
#u2094 {
  position:absolute;
  left:1341px;
  top:640px;
  width:29px;
  height:29px;
}
#u2095 {
  position:absolute;
  left:2px;
  top:6px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2096_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u2096 {
  position:absolute;
  left:1341px;
  top:679px;
  width:29px;
  height:17px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u2097 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u2098_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:33px;
}
#u2098 {
  position:absolute;
  left:1590px;
  top:638px;
  width:20px;
  height:33px;
}
#u2099 {
  position:absolute;
  left:2px;
  top:8px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2100_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u2100 {
  position:absolute;
  left:1586px;
  top:681px;
  width:29px;
  height:17px;
  color:#FFFFFF;
}
#u2101 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u2102_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:39px;
}
#u2102 {
  position:absolute;
  left:1466px;
  top:635px;
  width:28px;
  height:39px;
}
#u2103 {
  position:absolute;
  left:2px;
  top:12px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2104_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u2104 {
  position:absolute;
  left:1466px;
  top:679px;
  width:29px;
  height:17px;
  color:#FFFFFF;
}
#u2105 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u2106_img {
  position:absolute;
  left:0px;
  top:0px;
  width:307px;
  height:2px;
}
#u2106 {
  position:absolute;
  left:1327px;
  top:629px;
  width:306px;
  height:1px;
}
#u2107 {
  position:absolute;
  left:2px;
  top:-8px;
  width:302px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2108_img {
  position:absolute;
  left:0px;
  top:0px;
  width:306px;
  height:485px;
}
#u2108 {
  position:absolute;
  left:1327px;
  top:145px;
  width:306px;
  height:485px;
}
#u2109 {
  position:absolute;
  left:2px;
  top:234px;
  width:302px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2110_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:27px;
}
#u2110 {
  position:absolute;
  left:1335px;
  top:161px;
  width:27px;
  height:27px;
}
#u2111 {
  position:absolute;
  left:2px;
  top:6px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2112_img {
  position:absolute;
  left:-10px;
  top:-2px;
  width:25px;
  height:222px;
}
#u2112 {
  position:absolute;
  left:213px;
  top:720px;
  width:5px;
  height:210px;
}
#u2113 {
  position:absolute;
  left:2px;
  top:97px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2114_img {
  position:absolute;
  left:-2px;
  top:-10px;
  width:1243px;
  height:25px;
}
#u2114 {
  position:absolute;
  left:218px;
  top:925px;
  width:1231px;
  height:5px;
}
#u2115 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1227px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2116_img {
  position:absolute;
  left:-10px;
  top:-2px;
  width:25px;
  height:212px;
}
#u2116 {
  position:absolute;
  left:1456px;
  top:720px;
  width:5px;
  height:200px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u2117 {
  position:absolute;
  left:2px;
  top:92px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2118_img {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:109px;
}
#u2118 {
  position:absolute;
  left:929px;
  top:900px;
  width:122px;
  height:109px;
}
#u2119 {
  position:absolute;
  left:2px;
  top:46px;
  width:118px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2120_div {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u2120 {
  position:absolute;
  left:943px;
  top:1009px;
  width:125px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u2121 {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  word-wrap:break-word;
}
#u2122_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u2122 {
  position:absolute;
  left:1578px;
  top:164px;
  width:37px;
  height:21px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u2123 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u2124_img {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:409px;
}
#u2124 {
  position:absolute;
  left:81px;
  top:1019px;
  width:301px;
  height:409px;
}
#u2125 {
  position:absolute;
  left:2px;
  top:196px;
  width:297px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2126_div {
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  height:316px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u2126 {
  position:absolute;
  left:97px;
  top:1038px;
  width:268px;
  height:316px;
  font-size:20px;
}
#u2127 {
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  word-wrap:break-word;
}
